<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
	<listeners>
		<listener class-name="com.ITestListener.listeneres" />
		<listener class-name="com.Utils.extentReporterNG" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.PostAJob.TC001_Verify_The_Job_Posting_Functionality_With_Different_Scenarios" />
		</classes>
	</test>
</suite> 
